body{
    color: rgb(0, 0, 0);
    font-size: larger;
}

li {
    list-style-type: square;
}

html{
    background-color: rgb(215, 215, 215);
}


p,
li {
    font: 1rem 'Fira Sans', sans-serif;
}

p {
    font-weight: bold;
}
